---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <h2>GALLERI</h2>
  <section class="grid">
    <div class="container">
      <img src="../img/IMG_4013.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="../img/IMG_4012.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="../img/IMG_3938.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_4010.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_4014.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_4009.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_4008.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_4006.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_4007.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_3939.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_3936.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_3935.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>

    <div class="container">
      <img src="./img/IMG_3934.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>

    <div class="container">
      <img src="./img/IMG_3933.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
    <div class="container">
      <img src="./img/IMG_3932.webp" alt="" />
      <div class="overlay">
        <p>FORLÆNGELSE M. DESIGN (LEVEL 2) DKK 750,- ✨</p>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  .container {
    position: relative;
  }

  img {
    width: 130px;
    height: 130px;
    display: block;
    object-fit: cover;
  }

  .overlay {
    display: none;
  }
  @media (min-width: 900px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }

    img {
      width: 380px;
      height: 380px;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(252, 248, 236, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .container:hover .overlay {
      opacity: 1;
    }

    .overlay p {
      color: #34170d;
      font-size: 1.2rem;
      text-align: center;
      padding: 10px;
      margin: 1rem;
    }
  }
</style>
