--- 
const {variant, size} = Astro.props;
---

<button class:list={[variant, size]}>
    <slot />
</button>

<style>
    .desktop{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 15px;
        padding-bottom: 15px; 
        border-radius: 20px;
    }
    .mobile{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 2px;
        padding-bottom: 2px; 
        border-radius: 15px;
    }
    .primary{
        background-color: var(--hvid-100);
        color: var(--rød-100);
        border: 3px solid var(--rød-100);
    }

    .secondary{
        background-color: var(--rød-100);
        border: 3px solid var(--rød-100);
        color: var(--hvid-100);
    }
</style>