<main>
  <article class="kategori_container">
    <img src="./img/stockimg.jpg" alt="" />
    <div><h4></h4></div>
  </article>
</main>

<style>
  img {
    width: 380px;
    height: 378px;
  }

  .kategori_container {
    width: 380px;
    height: 466.26px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  div {
    background-color: #8e0928;
  }
</style>
