<h2 id="book_id">BESTIL TID</h2>
<section class="kategori_section">
  <article class="kategori_container">
    <a href="../listview">
      <img src="./img/IMG_4008.webp" alt="Billede af negle" />
      <div><h4>FORLÆNGELSE</h4></div>
    </a>
  </article>
  <article class="kategori_container">
    <a href="../listview">
      <img src="./img/IMG_4007.webp" alt="Billede af negle" />
      <div><h4>GELPOLISH</h4></div>
    </a>
  </article>
  <article class="kategori_container">
    <a href="../listview">
      <img src="./img/IMG_4009.webp" alt="Billede af negle" />
      <div><h4>FORSTÆRKNING</h4></div>
    </a>
  </article>
  <article class="kategori_container">
    <a href="../listview">
      <img src="./img/IMG_4010.webp" alt="Billede af negle" />
      <div><h4>OPFYLD: FORLÆNG</h4></div>
    </a>
  </article>
  <article class="kategori_container">
    <a href="../listview">
      <img src="./img/IMG_4006.webp" alt="Billede af negle" />
      <div><h4>OPFYLD: FORSTÆRK</h4></div>
    </a>
  </article>
  <article class="kategori_container">
    <a href="../listview">
      <img src="./img/naturlig.webp" alt="Billede af negle" />
      <div><h4>AFTAGNING</h4></div>
    </a>
  </article>
</section>

<style>
  img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  h2{
    text-align: center;
    margin-top: 0px;
  }
  .kategori_container {
    aspect-ratio: 3 / 4;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
  }

  div {
    background-color: #8e0928;
  z-index: 2;
  position: absolute;
  bottom: 0; /* Anchor to the bottom of the container */
  left: 0;
  right: 0;
  height: auto; /* Dynamic height */
  padding: 0.5rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  }

  div:hover {
    background-color: #34170d;
  }

  .kategori_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  h4 {
    color: #fcf8ec;
    text-align: center;
    line-height: 20px;
  }

  a {
    cursor: pointer;
  }

  @media (min-width: 900px) {
    img {
      width: 100%;
      border-radius: 20px;
    }

    .kategori_container {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }

    .kategori_section {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 40px;
    }

    div {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
</style>
