<main>
  <section>
    <article class="kategori_container">
      <a href="../ListView">
        <img src="./img/IMG_4008.webp" alt="" />
        <div><h4>FORLÆNGELSE</h4></div>
      </a>
    </article>
    <article class="kategori_container">
      <a href="../ListView"></a>
      <img src="./img/IMG_4007.webp" alt="" />
      <div><h4>GELPOLISH</h4></div>
    </article>
  </section>
  <article class="kategori_container">
    <a href="../ListView"></a>
    <img src="./img/IMG_4009.webp" alt="" />
    <div><h4>FORSTÆRKNING</h4></div>
  </article>
</main>
<article class="kategori_container">
  <a href="../ListView"></a>
  <img src="./img/IMG_4010.webp" alt="" />
  <div><h4>OPFYLD: FORLÆNG</h4></div>
</article>

<article class="kategori_container">
  <a href="../ListView"></a>
  <img src="./img/IMG_4006.webp" alt="" />
  <div><h4>OPFYLD: FORSTÆRK</h4></div>
</article>

<article class="kategori_container">
  <a href="../ListView"></a>
  <img src="./img/naturlig.webp" alt="" />
  <div><h4>AFTAGNING</h4></div>
</article>

<style>
  img {
    width: 165px;
    height: 165px;
    z-index: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .kategori_container {
    width: 165px;
    height: 203px;
    border-radius: 15px;
    cursor: pointer;
    margin: 1rem;
  }

  div {
    background-color: #8e0928;
    z-index: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    width: 133px;
    height: 39px;
    margin-top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  div:hover {
    background-color: #34170d;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h4 {
    color: #fcf8ec;
    text-align: center;
    font-size: 14px;
  }
  @media (min-width: 900px) {
    img {
      width: 380px;
      height: 378px;
      z-index: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    h4 {
      font-size: 32px;
    }

    .kategori_container {
      width: 380px;
      height: 466.26px;
      border-radius: 20px;
      margin: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    div {
      position: absolute;
      width: 348px;
      height: 70px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding-bottom: 3.5rem;
    }
  }
</style>
