---
import Button from "./Button.astro"
---
<footer>
  <hr class="line">
  <section>
    <article>
    <div class="logo">
        <a href="/">
          <img src="/img/logo.svg" alt="Elisabeth Nails Logo" />
        </a>
      </div>
      <div class="SoMe">
<a href="https://www.instagram.com/elisabethnails?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
<img src="/img/instagram.svg" alt="instagram">
</a>
<a href="https://www.tiktok.com/@elisabethnailss?_t=8sJheLvE34I&_r=1">
    <img src="/img/tiktok.svg" alt="tiktok">
</a>
      </div>
    </article>
      <div class="adresse">
        <h5>Adresse</h5>
        <p>Guldbergsgade 29N</p>
        <p>2200 København N</p>
      </div>
      <div class="åbningstider">
        <h5>Åbningstider</h5>
        <p>Mandag - Fredag 8.00 - 16.00</p>
        <p>Lørdag - Søndag: Lukket</p>
      </div>
      <div class="kontakt">
        <h5>Kontakt</h5>
        <p>info@elisabethnails.dk</p>
        <li class="nav-item">
          <a href="/.html#book_id" class="nav-link btn" ><Button variant="secondary">BESTIL TID</Button></a>
        </li>
      </div>
    </section>
</footer>

<style>
      .btn {
    display: inline-block;
    
  }

li{
  list-style: none;
}
  img {
    width: 150px;
  }
  .SoMe img{
width: 30px;
  }
  .SoMe {
    padding-top: 1rem;
    padding-left: 0,5rem;
    display: flex;
    gap: 1rem;
    color: #34170d;
    justify-content: center;
  }
  .logo{
  display: flex;
  justify-content: center;
  }
  section{
    text-align: center;
  }

  .line {
      margin-top: 0px;
      margin-bottom: 20px;
      margin-left: -20px;
      margin-right: -0px
    }


  @media (min-width: 900px) {
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
h5, p {
text-align: left;
}
.line {
      margin-top: 10rem;
      border: none;
      height: 2px;
      background-color: rgb(220, 218, 211, 0.8);
      display: block;
      margin-left: -100px;
      margin-right: -100px
    }
    .logo{
      margin-top: 3rem;
    }
    img {
    width: 200px;
  }
    .SoMe img{
width: 40px;
padding-left: 1rem;
  }
  }

</style>