<footer>
    <div class="logo">
        <a href="/">
          <img src="/img/logo.svg" alt="Elisabeth Nails Logo" />
        </a>
      </div>
      <div class="SoMe">
<a href="">
<img src="" alt="instagram">
</a>
<a href="">
    <img src="" alt="tiktok">
</a>
      </div>
      <div class="adresse">
        <h4>Adresse</h4>
        <p>Guldbergsgade 29N</p>
        <p>2200 København N</p>
      </div>
      <div class="åbningstider">
        <h4>Åbningstider</h4>
        <p>Mandag - Fredag 8.00 - 16.00</p>
        <p>Lørdag - Søndag: Lukket</p>
      </div>
      <div class="kontakt">
        <h4>Kontakt</h4>
        <p>info@elisabethnails.dk</p>
      </div>
      <li class="nav-item">
        <a href="/ListView" class="nav-link btn">BESTIL TID &#x3e;</a>
      </li>
</footer>

<style>
      .btn {
    background-color: #8e0928;
    color: #fcf8ec;
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    
  }
li{
  text-decoration: none;
}
  .btn:hover {
    background-color: #34170d;
  }
  img {
    width: 100px;
  }
</style>