<main>
  <h1>Galleri</h1>
  <article class="karrusel-container">
    <!--   <button class="karrusel-prev" onclick="moveSlide(-1)">&#10094;</button> -->
    <div class="karrusel-slide">
      <div class="karrusel-item">
        <img src="./public/img/stockimg.jpeg" alt="" />
      </div>
      <div class="karrusel-item">
        <img src="./public/img/stockimg.jpeg" alt="" />
      </div>
      <div class="karrusel-item">
        <img src="./public/img/stockimg.jpeg" alt="" />
      </div>
      <div class="karrusel-item">
        <img src="./public/img/stockimg.jpeg" alt="" />
      </div>
      <div class="karrusel-item">
        <img src="./public/img/stockimg.jpeg" alt="" />
      </div>
      <div class="karrusel-item">
        <img src="./public/img/stockimg.jpeg" alt="" />
      </div>
      <!--      plads til flere billeder her  -->
    </div>
    <!--     <button class="karrusel-next" onclick="moveSlide(1)">&#10095;</button> -->
  </article>
</main>

<style>
  main {
    background-color: #8e0928;
  }

  .karrusel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  /*   .karrusel-prev {
    left: 10px;
  }

  .karrusel-next {
    right: 10px;
  }

  .karrusel-prev,
  .karrusel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*  background-color: rgba(254, 26, 26, 0); */
  /*   color: #34170d;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 50px;
    border-radius: 50%;
    z-index: 1;
  }  */

  .karrusel-item {
    flex: 0 0 33.33%; /* Viser 3 billeder samtidig */
    box-sizing: border-box;
    padding: 10px;
  }

  .karrusel-item img {
    width: 450px;
    height: 450px;
    border-radius: 8px;
    object-fit: cover;
  }
</style>
