---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <header>
    <div class="logo">
      <a href="/index">
        <img src="" alt="Logo" />
      </a>
    </div>

    <nav>
      <ul class="menu">
        <li>
          <a href="">BESTIL TID</a>
        </li>
        <li><a href="/index">HJEM</a></li>
        <li><a href="/galleri">GALLERI</a></li>
      </ul>
    </nav>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </header>
</MainLayout>
