<header class="header">
  <div class="logo">
    <a href="../index">
      <img src="/img/logo.svg" alt="Logo" />
    </a>
  </div>

  <nav class="menu">
    <!-- The nav menu content -->
    <ul class="nav-menu">
      <li class="nav-item"><a href="../index" class="nav-link">HJEM</a></li>
      <li class="nav-item">
        <hr class="line" />
        <a href="../galleri" class="nav-link">GALLERI</a>
      </li>

      <li class="nav-item">
        <a href="/ListView" class="nav-link btn">BESTIL TID &#x3e;</a>
      </li>
    </ul>

    <!-- Burger Menu -->
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>

<hr class="line" />

<style>
  /* General Styling */
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--rød-100);
  }

  img {
    width: 100px;
  }

  .line {
    border: none;
    height: 2px;
    background-color: var(--rød-100);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .logo img {
    width: 150px;
    height: auto;
  }

  .menu ul {
    list-style: none;
    display: flex;
    gap: 60px;
  }

  .menu a {
    text-decoration: none;
    color: var(--rød-100);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }

  .menu a.btn {
    color: #ffffff;
    font-size: 15px;
  }

  .btn {
    background-color: #8e0928;
    color: #fcf8ec;
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
  }

  .btn:hover {
    background-color: #34170d;
  }

  .hamburger {
    display: none;
  }

  .menu ul {
    display: flex;
    gap: 60px;
  }
  @media (max-width: 900px) {
    .nav-menu {
      position: fixed;
      left: -150%;
      top: 5rem;
      flex-direction: column;
      background-color: #fcf8ec;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      z-index: 3;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .btn {
      padding: 20px 15px;
      border-radius: 0px;
      display: block;
    }
    .menu ul {
      gap: 15px;
      padding-top: 10px;
    }

    .nav-menu.active {
      left: 0;
    }

    .nav-item {
      margin: 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      translate: 0 8px;
      rotate: 45deg;
    }

    .hamburger.active .bar:nth-child(3) {
      translate: 0 -8px;
      rotate: -45deg;
    }
  }
</style>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");

  hamburger.addEventListener("click", mobileMenu);

  function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
  }

  const navLink = document.querySelectorAll(".nav-link");

  navLink.forEach((n) => n.addEventListener("click", closeMenu));

  function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
  }
</script>
