---
import Button from "../components/Button.astro"
---

<header class="header">
  <div class="logo">
    <a href="/">
      <img src="/img/logo.svg" alt="Elisabeth Nails Logo" />
    </a>
  </div>

  <nav class="menu">
    <!-- The nav menu content -->
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="/" class="nav-link active">HJEM</a>
      </li>
      <li class="nav-item">
        <hr class="line_mobil" />
        <a href="../galleri" class="nav-link">GALLERI</a>
      </li>

      <li class="nav-item">
        <a href="/.html#book_id" class="nav-link btn">
          <Button variant="secondary">BESTIL TID</Button></a>
      </li>
    </ul>

    <!-- Burger Menu -->
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>

<hr class="line" />

<style>
  /* Generel Styling */
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--rød-100);
  }

  img {
    width: 100px;
  }

  .line {
    border: none;
    height: 2px;
    margin-bottom: 100px;
    margin-right: -100px;
    margin-left: -100px;
    background-color: var(--rød-100);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }

  .logo img {
    width: 150px;
    height: auto;
  }

  .menu ul {
    list-style: none;
    display: flex;
    gap: 60px;
  }

  .menu a {
    text-decoration: none;
    color: var(--rød-100);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }

  .menu a.btn {
    color: #ffffff;
    font-size: 15px;
  }


  .hamburger {
    display: none;
  }

  .menu ul {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  .menu a.nav-link {
    text-decoration: none;
    color: var(--rød-100);
    transition: color 0.3s ease;
  }

  .menu a.nav-link:hover {
    color: var(--brun-100);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }

  .line_mobil {
    display: none;
    margin-right: -20px;
    margin-left: -20px;
  }
  @media (max-width: 900px) {

    .line {
    margin-bottom: 40px;
  }
    .nav-menu {
      position: fixed;
      left: -150%;
      top: 5rem;
      flex-direction: column;
      background-color: #fcf8ec;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      z-index: 3;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .line_mobil {
      border: none;
      height: 2px;
      background-color: var(--rød-100);
      display: block;
    }

    .btn {
      padding: 20px 15px;
      border-radius: 0px;
      display: block;
    }
    .menu ul {
      gap: 15px;
      padding-top: 10px;
    }

    .nav-menu.active {
      left: 0;
    }

    .nav-item {
      margin: 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      translate: 0 8px;
      rotate: 45deg;
    }

    .hamburger.active .bar:nth-child(3) {
      translate: 0 -8px;
      rotate: -45deg;
    }
  }
</style>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");

  hamburger.addEventListener("click", mobileMenu);

  function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
  }

  const navLink = document.querySelectorAll(".nav-link");

  navLink.forEach((n) => n.addEventListener("click", closeMenu));

  function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
  }
</script>
