<main>
  <article>
    <img src="" alt="" />
  </article>
  <article>
    <div class="overskrift">
      <h2>Velkommen til</h2>
      <h1>Elisabeth Nails</h1>
    </div>
    <div class="bestiltid">
      <img src="" alt="" />
    </div>
  </article>
</main>
