<main>
  <h2>PRISER</h2>
  <section>
    <article class="container1">
      <div><img src="./img/IMG_4007.webp" alt="Billede af negle" /></div>
      <div>
        <h3>FORLÆNGELSE</h3>
        <div class="priser_container">
          <div>
            <div class="flexbox">
            <p>Forlængelse u. farve</p>
            <p>DKK 625,-</p>
          </div>
            <div class="flexbox">
            <p>Forlængelse m. farve</p>
            <p>DKK 650,-</p>
          </div>
            <div class="flexbox">
            <p>Forlængelse m. design (lvl 1)</p>
            <p>DKK 700,-</p>
          </div>
            <div class="flexbox">
            <p>Forlængelse m. design (lvl 2)</p>
            <p>DKK 750,-</p>
          </div>
            <div class="flexbox">
            <p>Forlængelse m. design (lvl 3)</p>
            <p>DKK 850,-</p>
          </div>
          </div>
        </div>
      </div>
    </article>
    <!--  Omvendt card 1 -->
    <article class="container2">
      <div>
        <h3>GELPOLISH</h3>
        <div class="priser_container_omvendt">
          <div>
            <div class="flexbox">
            <p>Gelpolish helfarve inkl. manicure</p>
            <p>DKK 400,-</p>
          </div>
          <div class="flexbox">
            <p>Gelpolish inkl. manicure + design (lvl 1)</p>
            <p>DKK 450,-</p>
          </div>
            <div class="flexbox">
            <p>Gelpolish inkl. manicure + design (lvl 2)</p>
            <p>DKK 475,-</p>
          </div>
            <div class="flexbox">
            <p>Gelpolish inkl. manicure + design (lvl 3)</p>
            <p>DKK 550,-</p>
          </div>
          <div class="flexbox">
            <p>Gelpolish inkl. manicure + design - freestyle</p>
            <p>DKK 500,-</p>
          </div>
          </div>
          <div>
            
            
          
            
          </div>
        </div>
      </div>
      <div><img src="./img/IMG_4010.webp" alt="Billede af negle" /></div>
    </article>
    <!--  Billede først card 2 -->
    <article class="container1">
      <div><img src="./img/IMG_4008.webp" alt="Billede af negle" /></div>
      <div>
        <h3>FORSTÆRKNING</h3>
        <div class="priser_container">
          <div>
            <div class="flexbox">
            <p>Forstærkning u. farve (nude)</p>
            <p>DKK 600,-</p>
          </div>
          <div class="flexbox">
            <p>Forstærkning m. farve</p>
            <p>DKK 625,-</p>
          </div>
            <div class="flexbox">
            <p>Forstærkning inkl. manicure + design (lvl 1)</p>
            <p>DKK 650,-</p>
          </div>
            <div class="flexbox">
            <p>Forstærkning inkl. manicure + design (lvl 2)</p>
            <p>DKK 700,-</p>
          </div>
            <div class="flexbox">
            <p>Forstærkning inkl. manicure + design (lvl 3)</p>
            <p>DKK 750,-</p>
          </div>
          </div>
        </div>
      </div>
    </article>

    <!--  Omvendt card 2 -->
    <article class="container2">
      <div>
        <h3>OPFYLDNING</h3>
        <div class="priser_container_omvendt">
          <div>
            <div class="flexbox">
            <p>Opfyldning forlængelse u. farve + m. farve</p>
            <p>DKK 600,-</p>
          </div>
            <div class="flexbox">
            <p>Opfyldning forlængelse m. design (lvl 1-3)</p>
            <p>DKK 625,-</p>
          </div>
            <div class="flexbox">
            <p>Opfyldning forstærkning</p>
            <p>DKK 650,-</p>
          </div>
            <div class="flexbox">
            <p>Opfyldning forstærkning - Freestyle</p>
            <p>DKK 700,-</p>
          </div>
            <div class="flexbox">
            <p>Aftagning</p>
            <p>DKK 750,-</p>
          </div>
          </div>
        </div>
      </div>
      <div><img src="./img/naturlig.webp" alt="Billede af negle" /></div>
    </article>
  </section>
</main>

<style>

  .flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
    
  .priser_container {
    border-style: solid;
    border-color: #8e0928;
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 4rem;
    */
    max-width: 800px;
  }

  .priser_container_omvendt {
    border-style: solid;
    border-color: #8e0928;
    min-height: 300px;
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 6rem;
    */
    max-width: 800px;
  }

  h3 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  img {
    display: none;
  }

  article {
    padding-bottom: 2rem;
  }

  section {
    padding-bottom: 4rem;
  }

  @media (min-width: 900px) {
    .priser_container {
      border-radius: 20px;
      justify-content: center;
      margin-left: 40px;
    }

    .priser_container_omvendt {
      border-radius: 20px;
      justify-content: center;
      margin-right: 40px;
    }

    img {
      width: 380px;
      height: 500px;
      display: block;
      border-radius: 20px;
      margin-top: 2rem;
    }

    .container1 {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }

    .container2 {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
  }
</style>
