<main>
  <h2>Priser</h2>
  <article>
    <div><img src="" alt="" /></div>
    <div>
      <h3></h3>
      <div class="priser_container">
        <div>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
      </div>
    </div>
  </article>
</main>

<style>
  .priser_container {
    border-style: solid;
    border-color: #8e0928;
  }
</style>
