<main>
  <h2>Priser</h2>
  <section>
    <article class="container1">
      <div><img src="./img/IMG_4007.webp" alt="" /></div>
      <div>
        <h3>FORLÆNGELSE</h3>
        <div class="priser_container">
          <div>
            <p>Forlængelse u. farve</p>
            <p>Forlængelse m. farve</p>
            <p>Forlængelse m. design (level 1)</p>
            <p>Forlængelse m. design (level 2)</p>
            <p>Forlængelse m. design (level 3)</p>
            <p>Forlængelse - Freestyle</p>
          </div>
          <div>
            <p>DKK 625,-</p>
            <p>DKK 650,-</p>
            <p>DKK 700,-</p>
            <p>DKK 750,-</p>
            <p>DKK 850,-</p>
            <p>DKK 725,-</p>
          </div>
        </div>
      </div>
    </article>
    <!--  Omvendt card 1 -->
    <article class="container2">
      <div>
        <h3>GELPOLISH</h3>
        <div class="priser_container_omvendt">
          <div>
            <p>Gelpolish helfarve inkl. manicure</p>
            <p>Gelpolish inkl. manicure + design (level 1)</p>
            <p>Gelpolish inkl. manicure + design (level 2)</p>
            <p>Gelpolish inkl. manicure + design (level 3)</p>
          </div>
          <div>
            <p>DKK 400,-</p>
            <p>DKK 450,-</p>
            <p>DKK 475,-</p>
            <p>DKK 550,-</p>
          </div>
        </div>
      </div>
      <div><img src="./img/IMG_4010.webp" alt="" /></div>
    </article>
    <!--  Billede først card 2 -->
    <article class="container1">
      <div><img src="./img/IMG_4