<section>
  <article class="follow_knap">
    <div class="knapogoverskrift">
      <h2>Galleri</h2>
      <a
        href="https://www.instagram.com/elisabethnails?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      >
        <button>Følg os her </button>
      </a>
    </div>
  </article>
  <article class="karrusel-container">
    <!--   <button class="karrusel-prev" onclick="moveSlide(-1)">&#10094;</button> -->
    <div class="karrusel-slide">
      <div class="karrusel-item">
        <a href="../pages/galleri.astro">
          <img src="./img/IMG_4006.webp" alt="" />
        </a>
      </div>
    </div>
  </article>
  <div class="karrusel-item">
    <img src="./img/IMG_4008.webp" alt="" />
  </div>
  <div class="karrusel-item">
    <img src="./img/IMG_4009.webp" alt="" />
  </div>
  <div class="karrusel-item">
    <img src="./img/IMG_4010.webp" alt="" />
  </div>
  <div class="karrusel-item">
    <img src="./img/IMG_4012.webp" alt="" />
  </div>
  <div class="karrusel-item">
    <img src="./img/IMG_4013.webp" alt="" />
  </div>
  <div class="karrusel-item">
    <img src="./img/IMG_4014.webp" alt="" />
  </div>

  <!--      plads til flere billeder her  -->
</section>

<!--     <button class="karrusel-next" onclick="moveSlide(1)">&#10095;</button> -->

<style>
  /*   .karrusel-item {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
  }
  .karrusel-item img {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }

  section {
    background-color: #8e0928;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  h2 {

    padding: 0;
  }
  .karrusel-container {
    position: relative;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
  .karrusel-slide {
    display: flex;
    transition: transform 0.9s ease-in-out;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  button {
    background-color: #fcf8ec;
    color: #8e0928;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: h5;
    margin-bottom: 1rem;
  }

  .knapogoverskrift {
    display: grid;
    justify-content: center;
  }

  a {
    text-align: center;
  } */
  @media (min-width: 750px) {
    section {
      background-color: #8e0928;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    h2 {
      color: #fcf8ec;
      padding-left: 3rem;
    }
    .karrusel-container {
      position: relative;
      max-width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
    }
    .karrusel-slide {
      display: flex;
      transition: transform 0.9s ease-in-out;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    a {
      cursor: pointer;
    }
    button {
      background-color: #fcf8ec;
      color: #8e0928;
      border-radius: 5px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 20px;
      padding-right: 20px;
      font-family: h5;
      margin-top: 4rem;
    }

    .knapogoverskrift {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      gap: 10rem;
    }

    .karrusel-item {
      flex: 0 0 33.33%;
      box-sizing: border-box;
      padding: 10px;
    }
    .karrusel-item img {
      width: 380px;
      height: 380px;
      object-fit: cover;
    }
    .follow_knap {
      display: flex;
    }
    .follow_knap button {
      justify-content: right;
    }
  }
</style>
