body {
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}
@media (max-width: 900px) {
  body {
    margin: 20px;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  /* Colors */
  --rød-100: #8e0928;

  --hvid-100: #fcf8ec;
  --hvid-80: #dcdad3;

  --brun-100: #34170d;

  /* Typography */
  --font-size-h1: 84px;
  --font-size-h2: 64px;
  --font-size-h3: 40px;
  --font-size-h4: 32px;
  --font-size-h5: 24px;
  --font-size-p: 20px;
  --font-size-h1-mobil: 32px;
  --font-size-h2-mobil: 32px;
  --font-size-h3-mobil: 16px;
  --font-size-p-mobil: 16px;
  --font-size-p-tiny: 14px;
  --font-size-p-knap: 14px;

  /* Border Radius */
  --border-radius-desktop: 20px;
  --border-radius-mobil: 15px;
}

body {
  background: var(--hvid-100);
  color: var(--rød-100);
}

h1,
h2,
h3,
h4,
h1.mobil,
h2.mobil,
h3.mobil,
p.mobil,
p.knap {
  color: var(--rød-100);
}

p,
p.tiny,
h5 {
  color: var(--brun-100);
}

h1,
h2,
h1.mobil,
h2.mobil {
  font-family: "ivypresto-display", serif;
  font-weight: 400;
  font-style: normal;
}

h3,
h4,
h3.mobil,
p.knap,
a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
p.mobil,
p.tiny {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-size: var(--font-size-p);
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  h1 {
    font-size: var(--font-size-h1-mobil);
  }
  h2 {
    font-size: var(--font-size-h2-mobil);
  }
  h3,
  h4,
  h5 {
    font-size: var(--font-size-h3-mobil);
  }
  p {
    font-size: var(--font-size-p-mobil);
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}
